<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <link href="https://nightly.datatables.net/css/dataTables.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/js/dataTables.js"></script>

    <meta charset=utf-8 />
    <title>DataTables - JS Bin</title>
  </head>
  <body>
    <div class="container">
      <table id="example" class="display nowrap" width="100%">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Year</th>
                    <th>Category</th>
                    <th>Picture Front</th>
                    <th>Picture Back</th>
                    <th>Difference</th>
                    <th>Kevin</th>
                    <th>Special Edition</th>
                    <th>URL Front</th>
                    <th>URL Back</th>
                </tr>
            </thead>
            <tbody>
                {% for musette in musette_list %}
                <tr>
                <th>{{ musette.team }}</th>
                <th>{{ musette.year }}</th>
                <th>{{ musette.category }}</th>
                {% if musette.url_front == "" %}
                <td></td>
                {% else %}
                <td><img src="{{ musette.url_front }}"></td>
                {% endif %}
                {% if musette.url_back == "" %}
                <td></td>
                {% else %}
                <td><img src="{{ musette.url_back }}"></td>
                {% endif %}
                <th>{{ musette.difference }}</th>
                <th>{{ musette.kevin }}</th>
                <th>{{ musette.special }}</th>
                <th>{{ musette.url_front }}</th>
                <th>{{ musette.url_back }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        var table = new DataTable('#example');
    </script>
  </body>
</html>